const char *ssid = "ENTER_SSID_HERE";            // The SSID (name) of the Wi-Fi network you want to connect to
const char *password = "ENTER_PASSWORD_HERE"; // The password of the Wi-Fi network
// Home Assistant token (get from /profile)
const char *header = "Bearer ENTER_TOKEN_HERE